<div class="container">
    <h1>About Us</h1>
    <p>Rent Your Auto(RYA) is a car rental shop for everyone who wants to have a top quality ride on the go for a reasonable price.</p>
    <p>If you need a question, feel free to contact us, click the link below</p>
    <a href="/contact">Contact Us</a>
    <small>All Rights Reserved. Copyright &copy 2021</small>
</div>